body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  background-color: #ffffff;
  width: auto;
  margin: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-navigation ul {
  list-style: none;
}

.current-page a {
  color: #766357;
}

.benefits-list,
.benefits-list ul {
  list-style: none;
}

.bold-heading {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 28px;
}

.sedona-lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-align: center;
}

.benefits-heading {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;

}

.city-benefit-heading {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.standard-benefit h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.dates-request {
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.search-button {

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  width: 100%;
  height: 86px;
  padding: 35px 140px;
  border: none;

}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  background-color: #503e33;
  color: #928a85;
}

.hotels-search p {
  font-weight: 700;
  text-align: right;
}

.hotels-search label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-search input {
    font: inherit;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
}

.hotels-search input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.hotels-search input:hover {
  background-color: #ebebeb;
}

.find-button {
  background-color: #81b3d2;
  color: #f7f9fb;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.main-footer {
  position: absolute;
  width: 1200px;
  height: 120px;
  background-color: #fefefe;
  color: #000000;

}

.visit-link {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}


p .footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  vertical-align: middle;
}

.footer-copyright a,
 .social-button {
  line-height: 0;
  color: transparent;
}


/* inner.html */

.search-results ul {
  list-style: none;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #dadada;
}
.accommodation-type,
.price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  margin-right: 6px;

}

.button-details:hover {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #766357;
  color: #ffffff;
  text-decoration: none;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #928a85;
}

.number-rating {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
}


/* layout */
.wrapper {
  width: 1200px;
  height: 2760px;
  margin: 0 auto;
}

.main-header {
  width: 1200px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
  width: 140px;
  height: 70px;
}

.main-navigation {
  width: 1200px;
  height: 56px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.main-navigation li {
  width: 240px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;

}

.main-navigation li:nth-child(2) {
  margin-right: 240px;
}

.welcome-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 510px;
  background:
  url("../img/polygon.svg") no-repeat 50% 100%,
  url("../img/index.jpg") no-repeat 50% 23%;
  background-clip: content-box;
}

.welcome-image {
  display: block;
  margin: 0 auto;
  padding-top: 75px;
}

.sedona-benefits {
  margin-top: 60px;
}

.sedona-lead {
  display: block;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-heading {
  margin-top: 30px;
}

.benefits-wrapper {
  width: 1200px;
  margin-top: 50px;
}

.benefits-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.standard-benefit {
  width: 400px;
  min-height: 255px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.city-benefit {
  width: 1200px;
}

li .bridge-description {
  width: 1200px;
}

.city-item-wrapper {
  position: relative;
  margin: 0;
  width: 1200px;
  height: 255px;
  background-color: rgba(129, 179, 210, 0.9);
  box-sizing: border-box;
  padding: 25px 850px 40px 50px;
  text-align: center;

  color: #ffffff;
}

.city-item-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin-left: -400px;
  width: 800px;
  height: 255px;
  background-image: url("../img/image-1.jpg");
  background-repeat: no-repeat;
}

.bridge-wrapper {
  position: relative;
  margin: 0;
  width: 1200px;
  height: 255px;
  background-color: rgba(129, 179, 210, 0.9);
  box-sizing: border-box;
  padding: 25px 45px 40px 845px;
  text-align: center;
  color: #ffffff;
}

.bridge-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-right: -400px;
  width: 800px;
  height: 255px;
  background-image: url("../img/image-2.jpg");
  background-repeat: no-repeat;
}

.standard-benefit {
  background-color: #eeeeee;
  text-align: center;
  padding: 30px 50px 40px 50px;
}

.city-benefits {
  display: flex;
  width: 1200px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.city-benefit-item {
  position: relative;
  width: 400px;
  height: 330px;
  margin: 0;
  box-sizing: border-box;
  padding: 140px 60px 90px 60px;
  text-align: center;

}

.city-benefit-heading.accommodation::before {
  content: "";
  position: absolute;
  top: 18%;
  left: 50%;
  width: 74px;
  height: 75px;
  margin-left: -37px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}


.city-benefit-heading.food::before {
  content: "";
  position: absolute;
  top: 18%;
  left: 50%;
  width: 74px;
  height: 75px;
  margin-left: -37px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.city-benefit-heading.souvenirs::before {
  content: "";
  position: absolute;
  top: 16%;
  left: 50%;
  width: 64px;
  height: 77px;
  margin-left: -32px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}




/*-------*/

.booking-dates {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 235px;
}

.interested {
  margin-top: 55px;
  margin-bottom: 25px;
}

.hotels-search {
  width: 575px;
  min-height: 480px;
  margin: 50px auto;
}

.form-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -287px;
  z-index: 1;
  width: 575px;
  min-height: 396px;
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.main-footer {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}


.main-footer div {
  text-align: center;
}

.footer-link {
  width: 241px;
  margin-left: 73px;
  margin-right: 88px;
  align-items: center;
}

.footer-social {
  width: 400px;
  margin-right: 88px;
}

.footer-rights {
  width: 241px;
  margin-right: 73px;
  align-items: center;
  text-align: center;
}

.footer-copyright {
  text-align: left;
}

/* inner page layout */

.booking-filters {
  margin: 0;
  width: 1200px;
  min-height: 220px;
  background-color: #ffffff;
}

/* .filering-options {
  margin: 0;
  width: 1200px;
  height: 86px;
} */

.results-list {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 1200px;
  min-height: 455px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.results-item {
  width: 1200px;
  padding: 18px 73px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.results-list li:last-child {
  border-bottom: 1px solid #e5e5e5;
}


.hotel-photo,
.hotel-profile {
  margin-right: 30px;
}

.hotel-profile {
  flex-grow: 1;
}

.inner-footer {
  width: 1198px;
  height: 120px;
  background-color: #fefefe;
  color: #000000;
  list-style: none;
  border-top: 1px solid #e5e5e5;
}

.hotels-filter {

  margin: 0;
  padding: 0;
  width: 455px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.filters-item {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.filters-item label {
  width: 100px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.filters-item input {
  box-sizing: border-box;
  width: 346px;
  padding: 6px 220px 6px 12px;
  border: none;
}


.adults {
  width: 220px;
  text-align: right;
}

.adults label {
  margin-right: 30px;
}

.children {
  width: 220px;
  text-align: right;

}

.adults input {
  width: 113px;
  padding: 6px 12px 6px 12px;
}

.children input {
  width: 113px;
  padding: 6px 12px 6px 12px;
}

.find-button {
  display: block;
  width: 100%;
  min-height: 58px;
  margin-top: 37px;
  margin-right: 0;
}
.map-wrapper {
  width: 100%;
  height: 473px;
}

.map-image {
  width: 1200px;
  height: 591px;
}

input::placeholder {
  color: #000000;
}

.checkin input {
  position: relative;
}

.checkin-calendar {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 21px;
  height: 22px;
  fill: #cacaca;
}

a  .checkin-calendar:hover {
  fill: #000000;
}

a .checkin-calendar:active {
  fill: #85b5d3;
}

.checkout input {
  position: relative;
}

.checkout-calendar {
  position: absolute;
  right: 13%;
  top: 31%;
  width: 21px;
  height: 22px;
  fill: #cacaca;
}

a  .checkout-calendar:hover {
  fill: #000000;
}

a .checkout-calendar:active {
  fill: #85b5d3;
}

.html-academy-logo svg {
  width: 115px;
  height: 40px;
}

/* inner page filters*/

.filter-section-wrapper {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  display: flex;
  justify-content: space-between;

}

.filter-wrapper {
  margin: 25px 70px 25px 70px;
  box-sizing: border-box;
  min-height: 170px;
}

.accommodation-filter {
  margin-left: 30px;
  margin-right: auto;
}

.booking-filters ul {
  list-style: none;
}

.booking-filters {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;

}

.booking-filters span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.booking-filters li {
  padding: 10px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;

  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.search-items-list {
  padding: 0;
}
.sorting-options-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1200px;
  min-height: 86px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.sorting-options-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.soring-types-list {
  padding: 0;
}

.sorting-options-wrapper div {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.found {
  margin-left: 73px;
  margin-right: 50px;
}

.sort-type {
  margin-right: 38px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-options-wrapper li {
  margin-left: 0px;
  margin-right: 32px;
}

.filering-options {
  margin-right: auto;
}

.found span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.soring-types-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.by-price a {
  color: #81b3d2;
  border: none;
}

.sorting-order {
  margin-right: 73px;
}

.sort-direction-up {
  margin-right: 10px;
}

.sort-direction-up path {
  fill: #cacaca;
}
.sort-direction-down path {
  fill: #81b3d2;
}

.hotel-profile .button {
  padding: 6px 18px 4px 18px;
}

.button-details {
  width: 111px;
  min-height: 27px;
}

.button-book {
  width: 142px;
  min-height: 27px;
}

.number-rating {
  padding: 4px 15px 3px 15px;
  margin-top: 40px;
}

.hotel-name {
  margin-top: 13px;
  margin-bottom: 13px;
}

.type-price-wrapper {
  display: block;
  margin-bottom: 18px;
}

.hotel-rating {
  margin-right: 0;
}

.stars-number {
  text-align: right;
}

.footer-copyright {
  position: relative;
}

.html-academy-logo {
  position: absolute;
  top: -40%;
  left: 34%;
  margin-bottom: -20px;
}

a.html-academy-logo:hover path {
  fill: #81b3d2;
}

a.html-academy-logo:active path {
  fill: #bdbbbc;
}

.footer-opacity {
  opacity: 0.9;
}
