body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("index.jpg");
  background-position: top center;
  background-repeat: no-no-repeat;

}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-navigation ul {
  list-style: none;
}

.current-page a {
  color: #766357;
}

.benefits-list,
.benefits-list ul {
  list-style: none;
}

.sedona-lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-align: center;
}

.benefits-heading {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;

}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.dates-request {
  text-align: center;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;

}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  background-color: #503e33;
  color: #928a85;
}

.hotels-search p {
  font-weight: 700;
}

.hotels-search input {
    font: inherit;
    font-size: 14px;
    font-weight: 700;

    background-color: #f2f2f2;
}

.hotels-search input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.hotels-search input:hover {
  background-color: #ebebeb;
}

.find-button {
  background-color: #81b3d2;
  color: #f7f9fb;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.main-footer {
  background-color: rgba(250, 252, 248, 0.9);
  color: #000000;
}

.visit-link {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul {
  list-style: none;
}


.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.footer-copyright a,
 .social-button {
  line-height: 0;
  font-size: 0;
  color: transparent;
}


/* inner.html */

.search-results ul {
  list-style: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #dadada;
}
.accommodation-type,
.price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;

}

.button-details:hover {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #766357;
  color: #ffffff;
  text-decoration: none;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #928a85;
}

.number-rating {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
}
