body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
  width: auto;
  margin: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-navigation ul {
  list-style: none;
}

.current-page a {
  color: #766357;
}

.benefits-list,
.benefits-list ul {
  list-style: none;
}

.sedona-lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-align: center;
}

.benefits-heading {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;

}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.dates-request {
  text-align: center;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  width: 100%;
  height: 86px;
  padding: 35px 140px;

}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  background-color: #503e33;
  color: #928a85;
}

.hotels-search p {
  font-weight: 700;
}

.hotels-search label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-search input {
    font: inherit;
    font-size: 14px;
    font-weight: 700;

    background-color: #f2f2f2;
}

.hotels-search input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.hotels-search input:hover {
  background-color: #ebebeb;
}

.find-button {
  background-color: #81b3d2;
  color: #f7f9fb;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.main-footer {
  width: 1200px;
  height: 120px;
  background-color: rgba(250, 252, 248, 0.9);
  color: #000000;

}

.visit-link {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul {
  list-style: none;
}


.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.footer-copyright a,
 .social-button {
  line-height: 0;
  font-size: 0;
  color: transparent;
}


/* inner.html */

.search-results ul {
  list-style: none;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}



.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #dadada;
}
.accommodation-type,
.price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;

}

.button-details:hover {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #766357;
  color: #ffffff;
  text-decoration: none;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #928a85;
}

.number-rating {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
}


/* layout */
.wrapper {
  width: 1200px;
  height: 2760px;
  margin: 0 auto;
}

.main-header {
  width: 1200px;

}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 140px;
  height: 70px;
}

.main-navigation {
  width: 100%;
  height: 56px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu-wrapper:first-child  {
  margin-right: auto;
  padding-left: 70px;
}

.menu-wrapper:nth-child(2) {
  margin-left: auto;
  padding-right: 70px;
}

.menu-wrapper li {
  margin-right: 50px;
  width: 100px;
  min-height: 25px;
  padding: 20px;
}


.welcome-wrapper {
  display: block;
  width: 100%;
  height: 525px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
  padding-top: 75px;
}

.sedona-benefits {
  margin-top: 50px;
}

.sedona-lead {
  display: block;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-heading {
  margin-top: 40px;
}
.benefits-wrapper {
  width: 100%;
}

.benefits-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits-list li {
  width: 400px;
  min-height: 255px;
  margin: 0;
  padding: 50px 60px 60px 60px;
  box-sizing: border-box;
  text-align: center;
}

.benefits-list li:first-child,
.benefits-list li:nth-child(2) {
  width: 1200px;
}

.booking-dates {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
}

.interested {
  margin-bottom: 38px;
}

.hotels-search {
  width: 575px;
  min-height: 480px;
  margin: 50px auto;
}

.hotels-filter {
  padding: 55px 60px;
}

.main-footer,
.inner-footer {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.main-footer div {
width: 300px;
min-height: 70px;
}

.footer-social ul {
  list-style: none;
}

/* inner page layout */

.booking-filters {
  margin: 0;
  width: 1200px;
  min-height: 220px;
}

.filering-options {
  margin: 0;
  width: 1200px;
  height: 86px;
}

.results-list {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 1200px;
  min-height: 455px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.results-item {
  width: 1200px;
  padding: 30px 75px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  

}

.results-item div {
  margin-right: 30px;
}

.hotel-profile {
  flex-grow: 1;
}

.inner-footer {
  width: 1198px;
  height: 120px;
  background-color: #fefefe;
  color: #000000;
  list-style: none;
  border-top: 1px solid #e5e5e5;
}
